
.productPanel {
  border: 2px solid red;
  font-family: Volvo Novum, Arial, sans-serif;
  display: flex;
  justify-content: center;
  width: 25%;
  &__bodyType {
    font-size: 16px;
    text-transform: uppercase;
    color: $secondary-foreground;
    font-weight: 100;
    margin: 0;
  }
}
